body {
    padding: 0;
    margin: 0;
}

.content_body {
    padding: 0 10px;
}

/* set all paragraphs to sans-serif, font-weight to 500 thickness, size 18px, and color to grey */
p {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #555555;
}

/* set content width to 800px and center align */
.content {
    margin: 0 auto;
    max-width: 800px;
}

/* add solid border and top and bottom spacing of 1em size */
.header {
    border-bottom: 1px rgb(228, 228, 228) solid;
    padding: 1em 0 1em 0;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
}

/* flex = declare justification, space between justifies the logo, menu text & seach form */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

/* justify content in header, to space out menu, logo and search form */
.sub-header {
    justify-content: space-between;
}

/* add logo as background image */
.logo {
    width: 170px;
    height: 58px;
    background-image: url(img/logo_eavf.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* font set to sans-serif and color to dark grey */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #014c4f;
}

/* menu list font set to sans-serif */
li {
    font-family: Arial, Helvetica, sans-serif;
}

/* declare justification on navigation bar */
.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* this targets the url links in header and removes decoration and default purple color */
.navbar li a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

/* change menu links color to gold on mouse over */
.navbar a:hover {
    color: rgb(185, 151, 0);
}

.navbar li {
    margin: 10px;
    color: #014c4f;
    padding: 0;
    text-decoration: none !important;
}

.hamburger_box {
    background-color: #e8e8e8;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: 0.2s all ease-in-out;
}

.hamburger_box:hover {
    cursor: pointer;
    background-color: #e8e8e850;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    min-height: 150px;
    background-color: #014c4f;
    position: static;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #014c4f;
    background-image: url(img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.banner h1 {
    color: #fff;
    font-size: 50px;
}

.button {
    padding: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin-right: 10px;
    min-width: 100px;
    max-width: 200px;
    background-color: #fff;
    text-align: center;
}

.button:hover {
    background-color: #ffffff50;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.2s all;
}

.banner_buttons {
    display: flex;
    flex-direction: row;
}

.banner_buttons a {
    text-decoration: none;
    color: inherit;
}

.recipe_3-col {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.recipe_col {
    font-family: Arial, Helvetica, sans-serif;
}

.recipe_info {
    padding: 1em 0;
}

.recipe_info a {
    text-decoration: none;
    color: inherit;
}

.recipe_col .img_bg {
    background-position: center;
    background-size: cover;
}

.img_bg {
    min-width: 180px;
    height: 150px;
    background-color: #e1c85f;
}

.footer_logo {
    width: 170px;
    height: 58px;
    background-image: url(img/logo_eavf_white.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    background-color: #00000050;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner_content {
    z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: Arial, Helvetica, sans-serif;
}

.open_menu {
    background-image: url(img/hamburger.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.search_icon {
    background-image: url(img/search_icon.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.search-form input {
    width: 90px;
    background: transparent;
    border: none;
    font-size: 18px;
}

.footer .nav_container .navbar ul a {
    font-size: 12px;
    color: #fff;
}

.share_print {
    display: flex;
    align-items: center;
}

.social_icons {
    padding: 10px;
    display: flex;
    align-items: center;
}

.social_icons img {
    margin: 10px;
}

.rec_img_size {
    max-width: 280px;
}

.social_icons:hover {
    cursor: pointer;
}

.print_icon {
    padding: 5px 20px;
    border-radius: 25px;
    border: 2px #000 solid;
}

.print_icon:hover {
    cursor: pointer;
}

/* Small devices (phones, 750px and down) */
@media only screen and (max-width: 750px) {
    h1 {
        font-size: 30px !important;
    }

    .recipe_3-col {
        flex-direction: column;
        padding: 1em;
    }

    .img_bg {
        height: 200px;
    }
}

/* Smaller devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
    .sub-header {
        display: none;
    }

    input#search {
        display: none !important;
    }

    .search-form {
        width: 40px !important;
        background: transparent;
    }

    .logo {
        width: 130px;
        height: 42px;
        background-size: cover;
    }
}

.sidemenu {
    background-color: rgb(238, 238, 238);
    text-decoration: none;
    position: fixed;
    z-index: 999;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.2s all ease-in-out;
}

.sidemenu a {
    text-decoration: none;
    list-style-type: none;
    color: #555555;
}

.sidemenu ul li {
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    padding: 0 0 10px 0;
}

.closebtn {
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 15px;
    font-weight: bold;
}

.nested_list li {
    font-size: 25px;
}